
.hr{
    background-color: rgb(189, 189, 189);
    border: 3px solid rgb(37, 37, 37);
    margin: 5px;
    padding: 10px;
}
.hi{
    background-color: rgb(166, 82, 250);
    padding: 30px;
    border: 18px;
    color: rgb(31, 30, 30);
}
.cm{
    background-color: rgb(255, 238, 192);
    border: 3px solid rgb(37, 37, 37);
    margin: 5px;
    padding: 10px;
}
.rn{
    background-color: rgb(250, 214, 214);
    border: 3px solid rgb(37, 37, 37);
    margin: 5px;
    padding: 10px;
}
.st{
    flex-direction: column-reverse;
}
.body{
    display: flex;
}
.bttn{
    width: 170px;
    height: 50px;
    background-color: chartreuse;
    padding: 20px;
    border-radius: 10px;
    color: rgb(50, 71, 7);
    text-align: center;
    font-family: fantasy;
    font-size: 30px;
    transition: padding 0.4s ease-out, background-color 0.9s ease, color 0.9s ease ;
}
.bttn:hover {
    padding: 28px;
    background-color: rgb(4, 94, 74);
    color: rgb(253, 184, 54);
}
